/* RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* FINE RESET*/

/* COMMON */
body{
    background-color: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif;
}
/* FINE COMMON */


/* HEADER */
header{
    background-color: white;
    padding: 10px 20px;
}

.logo{
    vertical-align: middle;
}

.logo-text{
    font-size: 30px;
    font-weight: 300;
    vertical-align: middle;
}

/* FINE HEADER */

/* MAIN */
.container{
    background-color: white;
    width: 60%;
    margin: 40px auto;
    padding: 30px 50px;
}

.add a{
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    border-radius: 7px;
}

.add-task{
    background-color: #47adf1;
    color: white;
    
}

.add-section{
    background-color: white;
    color: lightgray;
    border: 1px solid lightgray;
}

.list{
    margin-top: 40px;
}

ul{
    list-style-type: none;
}

ul h3{
    display: inline-block;
    padding-left: 5px;
    margin-top: 20px;
}

.check{
    color: #64c0a9;
    width: 20px;
    height: 20px;
    border: 1px solid #64c0a9;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    display: inline-block;
}

.not-done{
    color: red;
    width: 20px;
    height: 20px;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    display: inline-block;
    font-size: 10px;
}

.rettangolo{
    padding: 7px;
    border-radius: 10px;
    color: white;
    font-size: 10px;
}

.editorial{
    background-color: #47adf1;
}

.goals{
    background-color: #9c72e4;
}

.recruiting{
    background-color: #64c0a9;
}

.mobile{
    background-color: #f29e33;
}

.website{
    background-color: #d863a1;
}

.sales{
    background-color: #b0ca32;
}

.task{
   padding: 10px 0; 
}
/* FINE MAIN */




